h1{
    display:flex;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: center;
}
.header h3{
    margin: 23px 20px 0 0;
}

.content{
    display: flex;
    justify-content: center;
}

.left-column{
    display: flex;
    flex-direction: column;
    width: 340px;
    margin-left: -100px
}

.left-column img{
    width: 100%;
    border-radius: 10px;
}

.right-column{
    margin-left: 50px;
    float: left;
}

.right-mid-column{
    margin-bottom: 34px;
    display: flex;
}

.column-1{
    width: 100px;
}

.synopsis{
    margin-top: 30px;
    width: 40vw;
}

.home-button{
    margin-top: 50px;
    width: 200px;
    height: 50px;
    background-color: #ED4664;
    border-radius: 25px;
}